.app-header {
    background-color: #f9f8f2;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo .quiz {
    color: #7d1546;
    font-weight: normal;
}

.logo .mania {
    color: #c72c6c;
}

.exit-btn {
    padding: 0.4rem 1rem;
    border: 1px solid #c72c6c;
    background-color: transparent;
    color: #c72c6c;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exit-btn:hover {
    background-color: #f2e5eb;
}